.navbar-big-logo {
  border-radius: 25px;
  border: 2px solid #cd853f;
  margin: 20px 0 20px 45px;
  display: flex;
  align-items: center;
}
.navbar-logo-img {
  margin: 8px 15px;
}
.navbar-logo-title {
  font-size: 20px;
  margin: 0 10px 0 5px;
}
.navbar-burger-icon {
  transform: scale(1.5);
}
.navbar-bg-color {
  background-color: #344d67;
}

.navbar-link {
  color: rgb(234, 233, 233);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 10px 0;
  margin: 0 10px;
  position: relative;
}
.navbar-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #cd853f;
  transition:
    width 0.3s ease 0s,
    left 0.3s ease 0s;
  width: 0;
}
.navbar-link:hover:after {
  width: 100%;
  left: 0;
}
.navbar-link:hover {
  color: white;
}
.active {
  color: white;
}
