.text-center {
  background-color: var(--primary-me) !important;
  mask-image: linear-gradient(to top, var(--primary-me), transparent);
  padding: 2px !important;
  display: none;
}
.footer-footer {
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.footer-icons {
  padding: 2px 0;
}
@media screen and (min-width: 600px) {
  .footer-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .text-center {
    display: block;
  }
}
