@import "./_inscription.scss";
@import "./_upload.scss";
@import "./_connexion.scss";
@import "./_themeVideo.scss";
@import "./_admin.scss";

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
// body {
//   background-image: url("../assets/fond.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   z-index: -1;
// }
