@import "./_inscription.scss";
// @import "./_upload.scss";
// @import "../styles/_connexion.scss";
@import "../styles/_carroussel.scss";
@import "./_navBar.scss";
@import "./_footer.scss";
// @import "./_admin.scss";
@import "./_accordion.scss";
@import "./_oneVideo.scss";
@import "./tag.scss";
@import "./_videoItem.scss";
@import "./_rastaMenu.scss";
@import "./keyboard.scss";
@import "./_userPage.scss";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Saira+Condensed:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
// body {
//   background-image: url("../assets/fond.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   z-index: -1;
// }
