.inscription_container {
  background-color: #354d67;
  margin: 0 auto;
  height: 1100px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;

  h2 {
    margin: 20px 0;
  }

  .informations_inscription {
    margin: 0 auto;
    width: 80%;
    padding-left: 0;
    padding-bottom: 50px;
  }

  ul {
    list-style: none;
    text-align: center;

    li {
      width: 100%;
      margin: 30px 0;

      h4 {
        text-align: left;
      }

      input {
        background-color: #64686d;
        height: 40px;
        border-radius: 23px;
        opacity: 70%;
        width: 100%;
        text-align: center;
        color: white;
      }

      ::placeholder {
        color: white;
        text-align: left;
        padding-left: 20px;
      }
    }
  }

  button {
    height: 40px;
    border-radius: 23px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border: none;
    border: 1px solid #cd853f;
    color: white;
    background-color: #354d67;
  }
}

@media screen and (min-width: 768px) {
  .inscription_container {
    background-color: #354d67;
    margin: 0 auto;
    height: 1100px;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
  }

  li {
    margin: 30px 0;
  }
}
