.invisible-button {
  background-color: transparent;
  color: var(--secondary-me);
}
.invisible-button-with-border {
  background-color: transparent;
  color: var(--secondary-me);
  border: 2px solid var(--secondary-me);
  border-radius: 4px;
  margin: 10px 0;
}
.transparent {
  background-color: transparent;
  color: var(--secondary-me);
  border-color: var(--secondary-me);
}
.not-public {
  position: relative;
  &:after {
    color: beige;
    font-size: 40px;
    padding-top: 70px;
    content: "Reservée";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.85);
  }
}
.h1-button {
  padding-left: 20px;
  margin: 10px 0;
}
@media screen and (max-width: 600px) {
  .h1-button {
    font-size: 1rem;
  }
}
