.carousel-item {
  min-width: 300px;
  width: 200px;
  min-height: 110px;
  margin: 0 5px;
  border-radius: 10px;
  border: 2px solid var(--border);
  scroll-snap-align: start;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  .carousel-item-image {
    margin: 0 5px;
    padding: 5px;
    min-width: 120px;
    mask-image: linear-gradient(
      to bottom,
      var(--primary-me) 25%,
      transparent 100%
    );
    position: relative;
    .carousel-item-duration {
      position: absolute;
      top: 2px;
      left: 10px;
      color: white;
    }
  }
  .carousel-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 40px;
    p {
      margin: 0;
      padding: 0;
      font-size: 10px;
      color: var(--middle-me);
    }
    h3.carousel-item-title {
      font-size: 12px;
      position: relative;
      top: -20px;
      margin: 0;
      padding: 0;
      text-transform: none;
    }
  }
}
