* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #344d67;
}
.App {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
}
:root {
  --primary-me: #344d67;
  --secondary-me: #cd853f;
  --middle-me: gray;
}
