* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #344d67; */
}
.App {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 80px;
}
body {
  background-color: #344d67;
}
:root {
  --primary-me: #344d67;
  --secondary-me: #cd853f;
  --middle-me: gray;
}
.hover {
  filter: drop-shadow(2px 2px 4px orange);
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
