* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #344d67; */
}
.App {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
}
body {
  background-color: #333333;
  color: var(--font-light);
}
:root {
  --primary-me: #333333;
  --primary-me-dark: #222222;
  --secondary-me: #ffe500;
  --border: #c5c1c0;
  --font-light-grey: #c5c1c0;
  --font-light: #ffffff;
}
.hover {
  filter: drop-shadow(2px 2px 4px orange);
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
